{% block title %}<h1>Change Password</h1>{% endblock %}
{% block content %}
    <form method="post", action="{{ url_for('user_change_password.change_password') }}">
        <label for="old_password">Old Password:</label><br>
        <input type="password" id="old_password" name="old_password" required><br>
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password" required><br>
        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br>
        <input type="submit" value="Change Password">
    </form>
{% endblock %}



