# requirements.txt

aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
aiosqlite==0.20.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
asyncpg==0.29.0
attrs==24.2.0
bidict==0.23.1
blinker==1.8.2
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
coloredlogs==15.0.1
contourpy==1.3.0
cycler==0.12.1
Flask==3.0.3
fonttools==4.53.1
frozenlist==1.4.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
humanfriendly==10.0
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.9.2
multidict==6.0.5
netifaces==0.10.6
numpy==2.1.1
oppadc @ git+https://github.com/The-CJ/oppadc.py.git@30184c74320318ee23a9c35cf946b89cfc5fce20
packaging==24.1
pandas==2.2.3
pillow==10.4.0
pluggy==1.5.0
priority==2.0.0
py_import_tree==1.0.1
pycparser==2.22
pyparsing==3.1.4
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.1
python-socketio==5.11.4
pytz==2024.2
Quart==0.19.6
requests==2.32.3
rosu-pp-py @ git+https://github.com/MaxOhn/rosu-pp-py@6a6cb6d853fc761d9c9200265eed49b73b3c7055
setuptools==75.6.0
simple-websocket==1.0.0
six==1.16.0
stdlib-list==0.11.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.2
Werkzeug==3.0.4
wheel==0.45.1
wsproto==1.2.0
yarl==1.9.4
