{% extends "base.html" %}

{% block title %}Set Avatar{% endblock %}

{% block content %}
<h1>Set Avatar</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" required>
    <input type="submit" value="Upload">
</form>
{% endblock %}

