name: black-action-pr
on:
  pull_request:
    branches:
      - main
jobs:
  linter_name:
    name: runner / black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check files using the black formatter
        uses: rickstaa/action-black@v1
        id: action_black
        with:
          black_args: "."
      - name: Annotate diff changes using reviewdog
        if: steps.action_black.outputs.is_formatted == 'true'
        uses: reviewdog/action-suggester@v1
        env: 
          INPUT_FAIL_ON_ERROR: true
        with:
          tool_name: blackfmt
      - name: Mark check as failed if formatted
        if: steps.action_black.outputs.is_formatted == 'true'
        run: exit 1
